<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogSearch\Model\Autocomplete\DataProvider">
        <plugin name="mpchadwick-searchautocompleteconfigmarator-dataprovider-plugin"
            type="Mpchadwick\SearchAutocompleteConfigmarator\Model\DataProvider" sortOrder="10"/>
    </type>
    <type name="Magento\Search\Model\ResourceModel\Query\Collection">
        <plugin name="mpchadwick-searchautocompleteconfigmarator-querycollection-plugin"
            type="Mpchadwick\SearchAutocompleteConfigmarator\Model\QueryCollection" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\RequireJs\Config\File\Collector\Aggregated">
        <plugin name="mpchadwick-searchautocompleteconfigmarator-requirejs-plugin"
            type="Mpchadwick\SearchAutocompleteConfigmarator\Model\RequireJs" sortOrder="10"/>
    </type>
</config>
