<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="search">
                <field id="autocomplete_limit" translate="label comment" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Autocomplete Result Limit</label>
                    <validate>validate-not-negative-number</validate>
                    <comment>Enter a positive number to apply a limit to the number of results that will be displayed. If the value here is 0, or the field is left empty, no limit will be applied</comment>
                </field>
                <field id="hide_result_count" translate="label comment" type="select" sortOrder="1010" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Autocomplete Result Count</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="like_match_position" translate="label comment" type="select" sortOrder="1020" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Like Match Position</label>
                    <source_model>Mpchadwick\SearchAutocompleteConfigmarator\Model\Config\Source\Likematchposition</source_model>
                    <comment>The type of SQL LIKE query to use. "Start" finds search terms that start with the input. "Any" find search terms where the input is present anywhere</comment>
                </field>
            </group>
        </section>
    </system>
</config>
